
body{
    background-image: url('./img/fondocertificado.png');

}
h1{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin-right: 50px;
    margin-left: 60px;
}
p{
    text-align: center;
}
table{
    text-align: center;
    margin-left: 80px;
    margin-right: 100px;
}
#contenido{
    text-align: center;
}
.dutic{
    float: right;
}
.unsa{
    float: left;
}

#firma1{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
#firma2{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}